<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./bower_components/bootstrap-css-only/css/bootstrap.min.css" />
</head>
<body ng-app="book">
<div class="container" ng-controller="UserController">

    <form class="form-horizontal" role="form" ng-submit="addUser(firstName, lastName, email, password)">
        <hr/>
        <div class="input-group">
            <input type="text" class="form-control" ng-model="firstName" placeholder="Enter first name..." required="true"/>
            <input type="text" class="form-control" ng-model="lastName" placeholder="Enter last name..." required="true"/>
            <input type="email" class="form-control" ng-model="email" placeholder="Enter email..." required="true"/>
            <input type="password" class="form-control" ng-model="password" name="psw" placeholder="Enter password..." required="true"/>
            <input type="password" class="form-control" name="psw_confirmation" placeholder="Reenter password..." required="true"/>
            <button type="submit" ng-disabled="!name && !description && !email" title="Register">
                <label>Register</label>
            </button>
        </div>
        <hr/>
    </form>
</div>
<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="./app/app.js"></script>
<script type="text/javascript" src="./app/controllers.js"></script>
<script type="text/javascript" src="./app/services.js"></script>
</body>
</html>